<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studentsimulator">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LectureActivity"></activity>
        <activity android:name=".NewStatistikaActivity" />
        <activity android:name=".UniversityActivity" />
        <activity android:name=".SitDownActivity" />
        <activity android:name=".ForestBusActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CoursesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RunAwayActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".HelloActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ZoomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShopActivity"
            android:label="@string/title_activity_shop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StatActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".TestActivity" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>